// Colors
$primary-color: #2f7b74;
$secondary-color: #ff9d06;
$background-color: #f9f8f4;
$light-green: #e6f2f1;
$gray: #828282;
$black: #373735;
$white: #ffffff;

// // Typography - Font Paths
$font-path: "../assets/fonts/";

// Poppins Font File Paths
$font-poppins-thin: $font-path + "FZ-Poppins-Thin.ttf";
$font-poppins-thin-italic: $font-path + "FZ-Poppins-ThinItalic.ttf";
$font-poppins-extra-light: $font-path + "FZ-Poppins-ExtraLight.ttf";
$font-poppins-extra-light-italic: $font-path + "FZ-Poppins-ExtraLightItalic.ttf";
$font-poppins-light: $font-path + "FZ-Poppins-Light.ttf";
$font-poppins-light-italic: $font-path + "FZ-Poppins-LightItalic.ttf";
$font-poppins-regular: $font-path + "FZ-Poppins-Regular.ttf";
$font-poppins-italic: $font-path + "FZ-Poppins-Italic.ttf";
$font-poppins-medium: $font-path + "FZ-Poppins-Medium.ttf";
$font-poppins-medium-italic: $font-path + "FZ-Poppins-MediumItalic.ttf";
$font-poppins-semi-bold: $font-path + "FZ-Poppins-SemiBold.ttf";
$font-poppins-semi-bold-italic: $font-path + "FZ-Poppins-SemiBoldItalic.ttf";
$font-poppins-bold: $font-path + "FZ-Poppins-Bold.ttf";
$font-poppins-bold-italic: $font-path + "FZ-Poppins-BoldItalic.ttf";
$font-poppins-extra-bold: $font-path + "FZ-Poppins-ExtraBold.ttf";
$font-poppins-extra-bold-italic: $font-path + "FZ-Poppins-ExtraBoldItalic.ttf";
$font-poppins-black: $font-path + "FZ-Poppins-Black.ttf";
$font-poppins-black-italic: $font-path + "FZ-Poppins-BlackItalic.ttf";

// // Layout
$container-width: 92%;
