@use "../../styles/variables.scss" as *;

.ProductItem {
  width: 100%;
  border: 0.5px solid $gray;
  border-radius: 0.75rem;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  &-container {
    width: 100%;
    height: 100%;
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    border-radius: 0.5rem;
  }
  &-image {
    width: 100%;
    position: relative;
    img {
      width: 100%;
      aspect-ratio: 2/1;
      border-radius: 0.5rem;
      height: 100%;
      object-fit: cover;
    }
  }
  &-type {
    position: absolute;
    top: 10%;
    right: 5%;
    width: max-content;
    padding: 0.25rem 0.5rem;

    // Glassmorphism effect
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 3rem;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);

    p {
      position: relative;
      z-index: 1;
      font-family: "Poppins Medium";
      font-size: 10px;
      color: $white;
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
      margin: 0;
      letter-spacing: 0.5px;
    }
  }
  &-info {
    display: flex;
    flex-direction: column;
    gap: 1.15rem;
  }
  &-CTA {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-button {
      padding-block: 0.5rem;
      padding-inline: 1rem;
      background-color: $secondary-color;
      border-top-left-radius: 0.85rem;
      border-bottom-left-radius: 0.85rem;
      border-top-right-radius: 0.85rem;
      border-bottom-right-radius: 0.085;
      p {
        cursor: pointer;
        color: $white;
        font-family: "Poppins Medium";
        font-size: 10px;
      }
    }
  }
  &-organization {
    display: flex;
    align-items: center;
    gap: 0.7rem;
    img {
      border-radius: 50%;
      width: 2.5rem;
      height: 2.5rem;
      object-fit: cover;
    }
    p {
      font-family: "Poppins Medium";
      font-size: 11px;
      color: $gray;
    }
  }
  &-Title {
    font-family: "Poppins SemiBold";
    font-size: 15px;
    color: $black;
    //just 1 line

    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
  }
  &-Subtitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    &-book {
      display: flex;
      flex-wrap: wrap;
      row-gap: 0 !important;
      gap: 0.5rem;
      align-items: center;
      overflow: hidden;

      svg {
        flex-shrink: 0;
        width: 1rem;
        height: 1rem;
        stroke: $gray;
      }

      p {
        white-space: normal;
        font-family: "Poppins Regular";
        font-size: 11px;
        color: $gray;
        word-break: break-word;
      }
    }

    &-document {
      font-family: "Poppins Regular";
      font-size: 12px;
      color: $gray;
    }
    &-item {
      display: flex;
      flex-direction: row;
      gap: 0.25rem;
      align-items: center;
      svg {
        width: 0.75rem;
        height: 0.75rem;
      }
      p {
        font-family: "Poppins Regular";
        font-size: 11px;
        color: $gray;
      }
    }
  }
  &-Price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0.75rem;
    background-color: #eff3f3;
    border-radius: 0.5rem;
    &-container {
      display: flex;
      flex-direction: row;
      gap: 0.5rem;
      align-items: center;
      &-end {
        color: $primary-color;
        font-family: "Poppins SemiBold";
        font-size: 14px;
      }
      &-discount {
        color: $primary-color;
        font-family: "Poppins Medium";
        font-size: 11px;
        text-decoration: line-through;
        color: $gray;
      }
    }
  }
}

@media (max-width: 425.5px) {
  .ProductItem {
    &-container {
      gap: 1rem;
    }
    &-CTA {
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;
      &-button {
        width: 100%;
        border-radius: 0.5rem;
      }
    }
    &-organization {
      img {
        width: 2rem;
        height: 2rem;
      }
    }
    &-info {
      gap: 0.8rem;
      &-title {
        font-size: 14px;
      }
      &-subtitle {
        font-size: 12px;
      }
    }
    &-Subtitle {
      flex-direction: column;
      align-items: flex-start;
      gap: 0.6rem;
    }
    &-Price {
      padding: 0.5rem;
      &-container {
        gap: 0.25rem;
        &-end {
          font-size: 12px;
        }
        &-discount {
          font-size: 10px;
        }
      }
    }
  }
}
