@import "../../styles/variables.scss";

.ProductItem {
  width: 100%;
  border: 0.5px solid $gray;
  border-radius: 0.75rem;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  &-container {
    width: 100%;
    height: 100%;
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    border-radius: 0.5rem;
  }
  &-image {
    width: 100%;
    img {
      width: 100%;
      aspect-ratio: 2/1;
      border-radius: 0.5rem;
      height: 100%;
      object-fit: cover;
    }
  }
  &-info {
    display: flex;
    flex-direction: column;
    gap: 1.15rem;
  }
  &-CTA {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-button {
      padding-block: 0.5rem;
      padding-inline: 1rem;
      background-color: $secondary-color;
      border-top-left-radius: 0.45rem;
      border-bottom-left-radius: 0.45rem;
      border-top-right-radius: 0.45rem;
      border-bottom-right-radius: 0;
      p {
        cursor: pointer;
        color: $white;
        font-family: "Poppins Medium";
        font-size: 10px;
      }
    }
  }
  &-organization {
    display: flex;
    align-items: center;
    gap: 0.7rem;
    img {
      border-radius: 50%;
      width: 2.5rem;
      height: 2.5rem;
      object-fit: cover;
    }
    p {
      font-family: "Poppins Medium";
      font-size: 11px;
      color: $gray;
    }
  }
  &-Title {
    font-family: "Poppins SemiBold";
    font-size: 15px;
    color: $black;
  }
  &-Subtitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    &-book {
      display: flex;
      flex-direction: row;
      gap: 0.5rem;
      align-items: center;
      svg {
        width: 1rem;
        height: 1rem;
        stroke: $gray;
      }
      span {
        font-family: "Poppins Regular";
        font-size: 11px;
        color: $gray;
      }
    }
    &-document {
      font-family: "Poppins Regular";
      font-size: 12px;
      color: $gray;
    }
    &-item {
      display: flex;
      flex-direction: row;
      gap: 0.25rem;
      align-items: center;
      svg {
        width: 0.75rem;
        height: 0.75rem;
      }
      p {
        font-family: "Poppins Regular";
        font-size: 11px;
        color: $gray;
      }
    }
  }
  &-Price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0.75rem;
    background-color: #eff3f3;
    border-radius: 0.5rem;
    &-container {
      display: flex;
      flex-direction: row;
      gap: 0.5rem;
      align-items: center;
      &-end {
        color: $primary-color;
        font-family: "Poppins SemiBold";
        font-size: 14px;
      }
      &-discount {
        color: $primary-color;
        font-family: "Poppins Medium";
        font-size: 11px;
        text-decoration: line-through;
        color: $gray;
      }
    }
  }
}

@media (max-width: 425.5px) {
  .ProductItem {
    &-container {
      gap: 1rem;
    }
    &-CTA {
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;
      &-button {
        width: 100%;
        border-radius: 0.5rem;
      }
    }
    &-organization {
      img {
        width: 2rem;
        height: 2rem;
      }
    }
    &-info {
      gap: 0.8rem;
      &-title {
        font-size: 14px;
      }
      &-subtitle {
        font-size: 12px;
      }
    }
    &-Subtitle {
      flex-direction: column;
      align-items: flex-start;
      gap: 0.6rem;
    }
    &-Price {
      padding: 0.5rem;
      &-container {
        gap: 0.25rem;
        &-end {
          font-size: 12px;
        }
        &-discount {
          font-size: 10px;
        }
      }
    }
  }
}
