@use "../../styles/_variables.scss" as *;

.Header {
  width: 100%;
  z-index: 100;
  background-color: $background-color;
  padding-block: 1rem;
  border-bottom: 0.25px solid $gray;
  position: fixed;
  &-container {
    margin: 0 auto;
    width: $container-width;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
  }
  &-logo {
    &-link {
      img {
        margin-top: 0.8rem;
      }
    }
  }
  &-items {
    margin-top: 0.5rem;
    display: flex;
    gap: 2rem;
  }
  &-item {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    &:hover {
      a {
        color: $black;
        font-family: "Poppins SemiBold", "Poppins", sans-serif;
      }
    }
    a {
      color: $gray;
      font-size: 12px;
      font-family: "Poppins Light", "Poppins", sans-serif;
    }
  }
  &-right {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    &-item {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 2.5rem;
      height: 2.5rem;
      cursor: pointer;
      &:hover {
        width: 2.5rem;
        height: 2.5rem;
        background-color: $secondary-color;
        svg {
          path {
            stroke: $white;
          }
        }
        border-radius: 50%;
      }
    }
    &-img {
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      cursor: pointer;
      object-fit: cover;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
