@import "../../../styles/variables.scss";

.Shopping {
  width: 100%;
  padding-block: 4rem;
  &-container {
    margin: 0 auto;
    width: $container-width;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  &-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    h2 {
      font-family: "Poppins SemiBold";
      font-size: 2.2rem;
      color: $black;
      line-height: 1.62;
    }
    p {
      font-family: "Poppins Light";
      font-size: 12px;
      color: $gray;
      line-height: 1.62;
    }
  }
  &-categories {
    margin-top: 2rem;
    width: 100%;
    height: 160px;
  }
  &-products {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
  &-filter {
    width: 23%;
  }
  &-list {
    width: 77%;
    margin-top: -0.6rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    &-header {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      &-left {
        width: 50%;
        display: flex;
        flex-direction: row;
        gap: 0.25rem;
        align-items: center;
        p {
          padding-inline: 0.5rem;
          border-radius: 0.5rem;
          font-family: "Poppins SemiBold";
          font-size: 12px;
          line-height: 1.62;
          color: $black;
        }
        span {
          padding: 0.25rem 0.5rem;
          border-radius: 100rem;
          font-family: "Poppins SemiBold" !important;
          background-color: #eff3f3 !important;
          font-size: 10px;
          color: $primary-color;
        }
      }
      &-right {
        width: 35%;
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        align-items: center;
        justify-content: flex-end;
        &-item {
          width: 36px;
          aspect-ratio: 1/1;
          border: 0.5px solid $gray;
          padding: 0.5rem 0.66rem;
          border-radius: 0.5rem;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          &.active {
            background-color: $secondary-color;
            svg {
              path {
                width: 80%;
                height: 80%;
                stroke: $white;
              }
            }
          }
        }
        &-search {
          width: 100%;
          display: flex;
          flex-direction: row;
          gap: 0.5rem;
          align-items: center;
          padding: 0.55rem 1rem;
          border-radius: 0.5rem;
          border: 0.5px solid $gray;
          input {
            width: 100%;
            border: none;
            outline: none;
            font-size: 10px;
            line-height: 1.62;
            color: $black;
            font-family: "Poppins Light";
          }
          ::placeholder {
            font-size: 10px;
            line-height: 1.62;
            color: $gray;
          }
          svg {
            width: 16px;
            height: 16px;
            stroke: $gray;
            stroke-width: 1px !important;
          }
        }
      }
    }
    &-empty {
      border: 0.25px solid $gray;
      border-radius: 0.25rem;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      p {
        text-align: center;
        font-family: "Poppins Light";
        font-size: 12px;
        color: $gray;
        line-height: 1.62;
      }
    }
    &-products {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1rem;
    }
  }
}
