@import "../../../styles/variables.scss";

.Shopping {
  width: 100%;
  padding-block: 4rem;
  &-container {
    margin: 0 auto;
    width: $container-width;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: flex-start;
  }
  &-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    h2 {
      font-family: "Poppins SemiBold";
      font-size: 2.5rem;
      color: $black;
      line-height: 1.62;
    }
    p {
      font-family: "Poppins Light";
      font-size: 12px;
      color: $gray;
      line-height: 1.62;
    }
  }
  &-categories {
    width: 100%;
    height: 160px;
  }
  &-products {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 2rem;
  }
  &-filter {
    grid-column: 1 / 4;
  }
  &-list {
    grid-column: 4 / 13;
    &-header {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      &-left {
        width: 50%;
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        align-items: center;
        p {
          padding-inline: 0.5rem;
          border-radius: 0.5rem;
          font-family: "Poppins SemiBold";
          font-size: 14px;
          line-height: 1.62;
          color: $black;
        }
        span {
          padding: 0.5rem 1rem;
          border-radius: 100rem;
          font-family: "Poppins SemiBold" !important;
          background-color: #eff3f3 !important;
          font-size: 12px;
          color: $primary-color;
        }
      }
      &-right {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        align-items: center;
        justify-content: flex-end;
        > .item {
          padding: 0.5rem;
          border-radius: 0.5rem;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          &:hover {
            background-color: #eff3f3;
          }
        }
      }
    }
  }
}
