@import "../../styles/variables.scss";

.Button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 0.1rem;
  cursor: pointer;

  &:hover {
    background-color: $primary-color;
  }
}
